<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="PhoneTariffDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=c:\Users\Thomas\Git Repositories\Github\FH-Hagenberg\C-Sharp\20151017_lab_4\uebung04_dataaccess\Db\PhoneTariff.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>

  <appSettings>
    <add key="DALAssembly" value="PhoneTariff.DAL.SqlServer"/>
  </appSettings>
</configuration>